@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #091f3e;
  /* color: #123d79; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.markdown-preview > * {
  all: revert;
}

.markdown-preview code {
  display: inline-block;
  background-color: #091f3e;
  color: rgb(255, 221, 0);
  padding: 2px 4px;
}

.markdown-preview a {
  color: deepskyblue;
  text-decoration: underline;
}

.markdown-preview table, .markdown-preview tr, .markdown-preview td, .markdown-preview th {
  border: 2px solid rgb(172, 171, 171);
  /* border: 2px solid #A5D7E8; */
  padding: 7px;
}

.markdown-preview table {
  border-collapse: collapse;
  padding: 0;
}

/* styles for smaller screens */
@media screen and (max-width: 768px) {
  .markdown-preview code {
    font-size: 14px;
  }
}

/* styles for even smaller screens */
@media screen and (max-width: 375px) {
  .markdown-preview code {
    padding: 4px 2px;
    font-size: 10.2px;
  }
}